<%= simple_form_for @cocktail do |f| %>
  <div class="form-inputs">
    <%= f.input :name %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-outline-dark" %>
    <%= link_to 'Back to list', cocktails_path, class: "btn btn-dark" %>
  </div>
<% end %>
